body{
    background-color: #e1c09a;
}

h1 {
    font-family: "lobster";
    color: #e1577a;
    text-shadow: 1px 1px #ec8f90;
    margin: 0, auto;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

#dice {
    padding: 20px;
    border-radius: 25px;
}

.die {
    margin: 5px;
}
#result {
    font-family: "lobster";
    margin: 25px;
    color: #e1577a;
    padding: 10px;
}